<launch>

<rosparam file="$(find urdf_demo)/config/controllers.yaml" command="load"/>
    <!-- Load the parameters for the algorithm -->
    <rosparam command="load" file="$(find hexapod_training)/config/config.yaml" />
    <param name="result_dir" type="str" value="$(find hexapod_training)/results" />
    <!-- Launch the training system -->
    <node pkg="hexapod_training" name="hexapod_gym" type="start_training.py" output="screen"/>

</launch>
